.uk-container {
	max-width: 100%;
}

header {
	background-color: white;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	position: fixed;
	z-index: 99;
	h1 {
		padding: 10px 0;
		font-size: 25px;
		margin-bottom: 0px;
	}
}